:root {
    --primary: color-mix(in srgb, rgb(243, 5, 5) 50%, rgb(236, 236, 244) 50%);

}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color: black
}
/* the header */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--primary); 
    padding: 20px 40px;
    position: sticky;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 40px;
}
.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: 10px 15px;
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list li:hover {
    background-color:color-mix(in srgb,var(--primary), black 20%) ;
    transform:matrix(3); 
}


.particulars-text {
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
}
.title {
    max-width: 600px;
    margin-left: 20px;
    /* font-size: 5rem; */
}
.hero-image img {
    width: 350px;
    border-radius: 1000px; 
    margin-top: 30px;
}

#social{
    border-style: dotted;
    border-radius: 90px;
    margin: 20px 30px; 
    padding: 20px;
    background-color: var(--primary);
}

.link-images {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;

}
.link-images a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border-radius: 10px;
    
}
.link-images img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.welcome {
    font-size: 1.5rem;
    margin-top: 15px;
    color: color-mix(in srgb, var(--primary) 70%, rgb(50, 9, 9) 30%);
    margin: 20px;

}
.tags {
    display: flex;
    gap: 30px;
    margin: 20px 10px;
    

}
.tags span {
    font-size: 1rem;
    border-radius: 50px;
    background-color: color-mix(in srgb, var(--primary) 20%, white 80%);
    color: black;
    font-weight: 700;
    padding: 5px 20px;

}

.tags span:hover {
   background-color:color-mix(in srgb,var(--primary), black 20%) ;
   transform:matrix(3);

}
.header-row,
.particulars,
.social {
    box-shadow: 0 4px 15px rgb(156, 135, 135);
    border-radius: 20px;
}




